<div class="everybody">
	<a class="everybody__theme" href="#">{{theme}}</a>

	<form class="everybody__form" action="#">
		<button class="everybody__btn everybody__btn--left">
			{% include 'assets/svg/arrowLeft.svg' %}
		</button>
		<div class="everybody__form-line"></div>
		<button class="everybody__btn everybody__btn--right">
			{% include 'assets/svg/arrowRight.svg' %}
		</button>
	</form>

	<div class="everybody__body">
		<div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'imgPath': './img/books1.webp',
				'textTheme': 'Корпоративное право',
				'textName': 'Инвестирование: способы, риски, субъекты : монография',
				'textAuthor': 'Майфат А.В.',
				'textPrice': '4 450 ₽ ',
			}
			%}
		</div>
		<div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'imgPath': './img/books1.webp' ,
				'textTheme': 'Договорное право',
				'textName': 'Договор коммерческой концессии (франчайзинг). Граж...',
				'textAuthor': 'Багдасарян А.Ф.',
				'textPrice': '372 ₽ ',
			}
			%}
		</div>
		<div class="everybody__item everybody__item--child3">
			{% include 'blocks/books/books.twig' with {
				'imgPath': './img/books1.webp',
				'textTheme': 'Конкурентное право',
				'textName': 'Договор коммерческой концессии (франчайзинг). Граж...',
				'textAuthor': 'Башлаков-Николаев И.В.',
				'textPrice': '984 ₽',
				'textPriceOld': '1 284 ₽',
				'textPriceProfit': 'Выгода 300 ₽'
			}
			%}
		</div>
		<div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'booksClassPromotion': 'books__link-promotion',
				'imgPath': './img/books1.webp',
				'textTheme': 'Корпоративное право',
				'textName': 'Инвестирование: способы, риски, субъекты : монография',
				'textAuthor': 'Майфат А.В.',
				'textPrice': '450 ₽ ',
			}
			%}
		</div>
	</div>

	<a class="everybody__show" href="#">{{show}}</a>
</div>
