<div class="everybody">
	<a class="everybody__theme" href="#">{{theme}}</a>

	<div class="everybody__buttons">
		<div class="everybody__prev-arrow "></div>
		<div class="everybody__next-arrow"></div>
		<!-- <div class="g-navigation specialists-detail__navigation">
    		<div class="g-navigation__paginate _g-specialists-detail-arrow"></div>
   		</div> -->
	</div>


	<div class="everybody__body">
		<div class="g-slider" data-slick='{ "prevArrow": ".everybody__prev-arrow", "nextArrow": ".everybody__next-arrow"}'>
			{% for i in 0..5 %}
				<div class="g-slider__item-wr">
					{% include 'blocks/books/books.twig' with {
						'textTheme': 'Корпоративное право',
						'textName': 'Инвестирование: способы, риски, субъекты : монография',
						'textAuthor': 'Майфат А.В.',
						'textPrice': '4 450 ₽ ',
						'textPriceOld': '1 284 ₽',
						'textPriceProfit': 'Выгода 300 ₽'
					}
					%}
				</div>
			{% endfor %}
		</div>

		<!-- <div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'textTheme': 'Корпоративное право',
				'textName': 'Инвестирование: способы, риски, субъекты : монография',
				'textAuthor': 'Майфат А.В.',
				'textPrice': '4 450 ₽ ',
			}
			%}
		</div>
		<div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'textTheme': 'Договорное право',
				'textName': 'Договор коммерческой концессии (франчайзинг). Граж...',
				'textAuthor': 'Багдасарян А.Ф.',
				'textPrice': '372 ₽ ',
			}
			%}
		</div>
		<div class="everybody__item everybody__item--child3">
			{% include 'blocks/books/books.twig' with {
				'textTheme': 'Конкурентное право',
				'textName': 'Договор коммерческой концессии (франчайзинг). Граж...',
				'textAuthor': 'Башлаков-Николаев И.В.',
				'textPrice': '984 ₽',
				'textPriceOld': '1 284 ₽',
				'textPriceProfit': 'Выгода 300 ₽'
			}
			%}
		</div>
		<div class="everybody__item">
			{% include 'blocks/books/books.twig' with {
				'textTheme': 'Корпоративное право',
				'textName': 'Инвестирование: способы, риски, субъекты : монография',
				'textAuthor': 'Майфат А.В.',
				'textPrice': '450 ₽ ',
			}
			%}
		</div> -->
	</div>

	<a class="everybody__show" href="#">{{show}}</a>
</div>