<div class="slider__container">

<div class="mySlides fade">
	<div class="slider__numbertext">1 / 4</div>
	<div class="slider__item">
		<picture>
			<source srcset="./img/books1.webp" type="image/webp">
			<img class="slider__image" src="./img/books1.jpg" alt="news_img">
		</picture>
	</div>
</div>

<div class="mySlides fade">
	<div class="slider__numbertext">2 / 4</div>
	<div class="slider__item">
		<picture>
			<source srcset="./img/news1.webp" type="image/webp">
			<img class="slider__image" src="./img/news1.jpg" alt="news_img">
		</picture>
	</div>
</div>

<div class="mySlides fade">
	<div class="slider__numbertext">3 / 4</div>
	<div class="slider__item">
		<picture>
			<source srcset="./img/news2.webp" type="image/webp">
			<img class="slider__image" src="./img/news2.jpg" alt="news_img">
		</picture>
	</div>
</div>

<div class="mySlides fade">
	<div class="slider__numbertext">4 / 4</div>
	<div class="slider__item">
		<picture>
			<source srcset="./img/news1.webp" type="image/webp">
			<img class="slider__image" src="./img/news3.jpg" alt="news_img">
		</picture>
	</div>
</div>

<a class="slider__btn-prev" onclick="plusSlides(-1)">❮</a>
<a class="slider__btn-next" onclick="plusSlides(1)">❯</a>

<div class="slider__dots" style="text-align:center">
	<span class="slider__dot" onclick="currentSlide(1)"></span>
	<span class="slider__dot" onclick="currentSlide(2)"></span>
	<span class="slider__dot" onclick="currentSlide(3)"></span>
	<span class="slider__dot" onclick="currentSlide(4)"></span>
</div>

</div>
<br>