<div class="slider__container">

	<div class="slider">
		<div class="slider-line">
				<picture>
					<source srcset="./img/news1.webp" type="image/webp">
					<img class="slider__image" src="./img/news1.jpg" alt="news_img">
				</picture>
				<picture>
					<source srcset="./img/news2.webp" type="image/webp">
					<img class="slider__image" src="./img/news2.jpg" alt="news_img">
				</picture>
				<picture>
					<source srcset="./img/news1.webp" type="image/webp">
					<img class="slider__image" src="./img/news1.jpg" alt="news_img">
				</picture>
				<picture>
					<source srcset="./img/news3.webp" type="image/webp">
					<img class="slider__image" src="./img/news3.jpg" alt="news_img">
				</picture>
		</div>
	</div>



	<div class="slider__dots" style="text-align:center">
		<span class="slider__dot" onclick="currentSlide(1)"></span>
		<span class="slider__dot" onclick="currentSlide(2)"></span>
		<span class="slider__dot" onclick="currentSlide(3)"></span>
		<span class="slider__dot" onclick="currentSlide(4)"></span>
	</div>

</div>
<br>

<a class="slider__btn-prev" onclick="plusSlides(-1)">❮</a>
<a class="slider__btn-next" onclick="plusSlides(1)">❯</a>