/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

@import 'blocks/header/header';

@import 'blocks/contentTop/contentTop';
@import 'blocks/card/card';
@import 'blocks/book/book';
@import 'blocks/everybody/everybody';
@import 'blocks/books/books';
@import 'blocks/discounts/discounts';
@import 'blocks/services/services';

@import 'blocks/footer/footer';

/* blocks */
/* Пример подключения*/
/* @import 'blocks/component/component'; */

/* pages */
/* @import 'index'; */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
