<div class="news">
    <a class="news__link-image" href="#">
        <img class="news__image" src="/img/news1.webp" alt="news1" >
    </a>
    <span class="news__date">16 июня 2020</span>
    <a class="news__theme" href="#">
        <h3>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h3>
    </a>
    <span class="news__text">
        18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
    </span>
    <button class="news__btn">Читать</button>
</div>