.news
{
	position: relative;
	background: #FFFFFF;
	margin: 10px 0 0 0;
	padding: 18px 0 10px 0;
	border-radius: 5px;

	@include mq($tablet)
	{
		margin: 30px 0 0 0;
		padding: 18px 0 0 0;
	}

	.news__title
	{
		display: block;
		margin: 0 0 0 10px;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		color: $ocean-blue-color;

		@include mq($tablet) { margin: 0 0 0 25px; }
	}
}

.news__form
{
	position: absolute;
	top: 15px;
	right: 8px;
	display: flex;
	width: 61px;
	height: 30px;
	border: 1px solid rgba(28, 41, 77, 0.15);
	border-radius: 5px;

	@include mq($tablet)
	{
		top: 15px;
		right: 25px;
	}

	.news__btn
	{
		display: flex;
		padding: 9px;
		border: none;
	}

	.news__form-line
	{
		width: 1px;
		height: 30px;
		background: rgba(28, 41, 77, 0.15);
		transform: translateY(-1px);
	}
}

.news__body
{
	margin: 17px 0 0 0;
	height: 100%;
	border-top:  1px solid rgba(28, 41, 77, 0.15);
	border-bottom:  1px solid rgba(28, 41, 77, 0.15);

	@include mq($tablet) { border-bottom: none; }
}

.news__items
{
	display: flex;
	margin: 0 auto;
	width: 100%
}

.news__item
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
	height: 100%;

	background: $white-color;
	// width: 100%;
	// margin: 0 auto;

	&:nth-of-type(1) { display: none; }
	&:nth-of-type(2) { display: none; }

	@include mq($tablet)
	{
		padding: 25px 30px 25px 29px;

		&:nth-of-type(1) { display: flex; }
		&:nth-of-type(2) { display: flex; }
	}

	&:not(:last-of-type)
	{
		border-right: 1px solid rgba(28, 41, 77, 0.15);
	}
}

.news__link-image
{
	display: flex;

	margin: 0 0 15px 0;

	.news__img
	{
		display: flex;
		width: 100%;
		max-width: 335px;
		border-radius: 5px;
		overflow: hidden;

		@include mq($tablet) { max-width: 320px; }
	}
}

.news__date
{
	display: block;
	margin: 0 0 5px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(28, 41, 77, 0.5);
}

.news__theme
{
	// display: block;
	margin: 0 0 8px 0;
	// color: rgb(28, 41, 77);

	.news__theme-h3
	{
		display: inline;
		margin: 0;

		display: -webkit-box;
		max-width: 310px;
		height: 40px;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #1C294D;
	}
}

.news__text
{
	// display: block;
	display: -webkit-box;
	max-width: 320px;
	height: 60px;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

	margin: 0 0 12px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	// line-height: 20px;
	color: $ocean-blue-color-80;
}

.news__item-btn
{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 5px;
	height: 40px;
	width: 100%;
	max-width: 180px;

	background: #FFFFFF;
	border: 1px solid rgba(28, 41, 77, 0.15);
	border-radius: 5px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: $ocean-blue-color;
}

.news__show
{
	display: block;
	margin: 10px auto 0 auto;
	width: 147px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: $ocean-blue-color;

	@include mq($tablet)
	{
		display: none;
		margin: 13px auto 0 auto;
	}
}