<div class="news">
	<a class="news__title" href="#">Новости</a>

	<form class="news__form" action="#">
		<button class="news__btn news__btn--left">
			{% include 'assets/svg/arrowLeft.svg' %}
		</button>
		<div class="news__form-line"></div>
		<button class="news__btn news__btn--right">
			{% include 'assets/svg/arrowRight.svg' %}
		</button>
	</form>
	<div class="news__body">
		<div class="news__items">
			{% for i in 0..2 %}
			<div class="news__item">
				<a class="news__link-image" href="#">
					<picture class="news__picture">
						<source srcset="./img/news1.webp" type="image/webp">
						<img class="news__img" src="./img/news1.jpg" alt="news_img">
					</picture>
				</a>

				<span class="news__date">16 июня 2020</span>
				<a class="news__theme" href="#">
					<h3>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h3>
				</a>
				<div class="news__text">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента.Мероприятие приуроч...
				</div>
				<button class="news__item-btn">Читать</button>
			</div>
			{% endfor %}
		</div>
	</div>

	<a class="news__show" href="#">Показать все новости</a>
</div>