.book
{
    position: relative;
    padding: 22px 20px 26px 20px;
    width: 360px;
    height: 520px;
    background: #FFFFFF;
    border-radius: 5px;

    .book__title
    {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $ocean-blue-color;
    }

    .book__time
    {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px 0 0 10px;
        width: 68px;
        height: 25px;
        background: rgba(255, 122, 0, 0.15);
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FF7A00;
    }

    .book__picture
    {
        display: flex;
        margin: 23px auto 0 auto;
    }

    .book__chapter
    {
        margin: 15px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $ocean-blue-color-50;
    }

    .book__name
    {
        margin: 6px 0 0 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $ocean-blue-color;
    }

    .book__author
    {
        margin: 10px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: $ocean-blue-color;
    }

    .book__price
    {
        margin: 9px 0 0 0;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: $ocean-blue-color;
    }

    .book__form
    {
        display: flex;
        margin: 11px 0 0 0;

        .book__busket-btn
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 146px;
            height: 40px;
            border: 1px solid #EEEEEE;
            border-radius: 5px;

            span
            {
                padding: 0 0 0 11px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 15px;
                color: $ocean-blue-color;
            }
        }

        .book__posponed-btn
        {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 10px;
            width: 40px;
            height: 40px;
            border: 1px solid #EEEEEE;
            border-radius: 5px;
        }
    }

    
}