// @font-face {
// 	font-family: "Roboto";
// 	src: url("./fonts/roboto-regular/roboto-regular.eot"); 
// 	src: url("./fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
// 		url("./fonts/roboto-regular/roboto-regular.otf") format("opentype"), /* Open Type Font */
// 		url("./fonts/roboto-regular/roboto-regular.svg") format("svg"), /* Legacy iOS */
// 		url("./fonts/roboto-regular/roboto-regular.ttf") format("truetype"), /* Safari, Android, iOS */
// 		url("./fonts/roboto-regular/roboto-regular.woff") format("woff"), /* Modern Browsers */
// 		url("./fonts/roboto-regular/roboto-regular.woff2") format("woff2"); /* Modern Browsers */
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gosha Sans";
	src: url("./fonts/GoshaSans/GoshaSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
// @font-face {
// 	font-family: "Roboto Regular";
// 	src: url("./fonts/roboto-regular/roboto-regular.eot"); 
// 	src: url("./fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
// 		url("./fonts/roboto-regular/roboto-regular.otf") format("opentype"), /* Open Type Font */
// 		url("./fonts/roboto-regular/roboto-regular.svg") format("svg"), /* Legacy iOS */
// 		url("./fonts/roboto-regular/roboto-regular.ttf") format("truetype"), /* Safari, Android, iOS */
// 		url("./fonts/roboto-regular/roboto-regular.woff") format("woff"), /* Modern Browsers */
// 		url("./fonts/roboto-regular/roboto-regular.woff2") format("woff2"); /* Modern Browsers */
// 	font-weight: 500;
// 	font-style: normal;
// }


/*
Пример подключения
-------------------
@font-face
{
	font-family: 'Roboto-mono';
	src: url('./fonts/Roboto_mono/Light/RobotoMono-Light.eot');
	src: url('./fonts/Roboto_mono/Light/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.woff2') format('woff2'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.woff') format('woff'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.svg#RobotoMono-Light') format('svg'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
*/