<div class="discounts">
    <span class="discounts__text">
        <span class="discounts__svg">{% include 'assets/svg/vectorDisconts.svg' %}</span>
        Скидка 200 ₽ при подписке на рассылку Издательства
    </span>
    <form class="discounts__form" action="">
        <label class="discounts__label" for="discountsInput">
            <input class="discounts__input" id="discountsInput" type="text" placeholder="Введите ваш Email">
        </label>
        
        <button class="discounts__btn">Подписаться</button>
    </form>
</div>