{# index.twig #}

{% block footer %}
	<footer>
		<div class="footer__wrapper">
			<div class="container">
				<div class="footer__top">

					<div class="footer__top-left">
						
						{% include 'assets/svg/logo.svg' %}
					
						<form class="footer__form" action="#">
							<input class="footer__search" id="footerSearch" type="text" placeholder="Введите свой Email и получите скидку">
							<label for="footerSearch"></label>
							<button class="footer__search-btn">
								{% include 'assets/svg/airplane.svg' %}
							</button>
						</form>
						
					</div>

					<div class="footer__top-middle"></div>
					
					<div class="footer__socials">
						<a href="#">
							<div class="footer__facebook">
								{% include 'assets/svg/facebook.svg' %}
							</div>
						</a>
						<a class="vk" href="#">
							<div class="footer__vk">
								{% include 'assets/svg/vk.svg' %}
							</div>
						</a>
						<a href="#">
							<div class="footer__instagram">
								{% include 'assets/svg/instagram.svg' %}
							</div>
						</a>
						<a class="twitter" href="#">
							<div class="footer__twitter">
								{% include 'assets/svg/twitter.svg' %}
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</div>

	</footer>
{% endblock %}

