{# index.twig #}

{% block footer %}
	<footer>
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__container">
					<div class="footer__top">

						{% include 'assets/svg/logo.svg' %}
						
						<div class="footer__top-middle">
							<input class="footer__search" id="footerSearch" type="text" placeholder="Введите свой Email и получите скидку">
							<label for="footerSearch"></label>
							<button class="footer__search-btn">
								{% include 'assets/svg/airplane.svg' %}
							</button>
						</div>

						<div class="footer__top-right">
							<a href="#">
								<div class="footer__facebook">
									{% include 'assets/svg/facebook.svg' %}
								</div>
							</a>

							<a href="#">
								<div class="footer__instagram">
									{% include 'assets/svg/instagram.svg' %}
								</div>
							</a>

							<a href="#">
								<div class="footer__twitter">
									{% include 'assets/svg/twitter.svg' %}
								</div>
							</a>
						</div>
						
					</div>
				</div>
			</div>

			<div class="footer__container">
				<div class="footer__middle">

					<ul>
						<li> <a class="footer__capture-link" href="#">Покупателям</a> </li>
						<li> <a href="#">Наша почта</a> </li>
						<li> <a href="#">Оплата и доставка</a> </li>
						<li> <a href="#">Вопросы и ответы</a> </li>
					</ul>

					<ul>
						<li> <a class="footer__capture-link" href="#">Издательство</a> </li>
						<li> <a href="#">О компании</a> </li>
						<li> <a href="#">Авторам</a> </li>
						<li> <a href="#">Вакансии</a> </li>
						<li> <a href="#">Контакты</a> </li>
					</ul>

					<ul>
						<li> <a class="footer__capture-link" href="#">Книги</a> </li>
						<li> <a href="#">Все категории</a> </li>
						<li> <a href="#">Бестселлеры</a> </li>
						<li> <a href="#">Новинки</a> </li>
						<li> <a href="#">Скидки и акции</a> </li>
					</ul>

					<ul>
						<li> <a class="footer__capture-link" href="#">Прайс-лист</a> </li>
						<li> 
							<a href="#" download="">
								{% include 'assets/svg/file.svg' %}
								<div>
									Скачать прайс-лист
									<label>PDF, 12 Mb</label>
								</div>  
							</a> 
						</li>
					</ul>

					<ul>
						<li> <a class="footer__capture-link" href="#">Телефон и Email</a> </li>
						<li>
							<a href="#">
								{% include 'assets/svg/email.svg' %}
								<span>market@estatut.ru</span>
							</a>
						</li>
						<li>
							<a href="#">
								{% include 'assets/svg/phone.svg' %}
								<span>8 (968) 660-65-50</span>
							</a>
						</li>
					</ul>

				</div>

				<div class="footer__bottom">
					<div class="footer__bottom-left">
						© 2020 Издательство «Статут»
					</div>

					<div class="footer__bottom-right">
						<a class="footer__adress" href="#">ул. Лобачевского, 92, корп. 2 119454, г. Москва</a>
						<a class="footer__politics" href="#">Политика конфиденциальности</a>
						<a class="footer__offer" href="#">Договор оферты</a>
					</div>
				</div>
			</div>

		</div>
	</footer>
{% endblock %}