.footer__wrapper
{
    background: $footer-top-background;
}

.footer__container
{
    display: flex;
	flex-direction: column;
	margin: 0 110px 0 117px;
    width: 1140px;
}

.footer__top{
    display: flex;
    flex: 0 1 auto;
	justify-content: space-between;
	align-items: center;
    height: 90px;
}

.footer__top-middle
{
    display: flex;
	margin:  0 0 0 100px;
	width: 443px;
	height: 40px;
	justify-content: space-between;

    

    input
    {
        padding: 0 0 0 15px;
		// margin-left: 10px;
		width: 100%;
		height:  40px;
		border: 1px solid rgba(40, 47, 54, 0.15);
        border-radius: 5px 0 0 5px;

        &::placeholder
        {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(40, 47, 54, 0.5);
        }
    }

    button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 40px;
        border: none;
        border-radius: 0 5px 5px 0;
        background: #FF5C00;
    }
}


.footer__socials
{
    display: flex;


    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: 1px solid rgba(40, 47, 54, 0.15);
        border-radius: 50%;
    }

    .footer__instagram
    {
        margin: 0 0 0 15px;
    }

    .footer__twitter
    {
        margin: 0 0 0 15px;
    }
}

.footer__middle
{
    display: flex;
    height: 260px;
    border-bottom: 1px solid rgba(40, 47, 54, 0.15);


    .footer__link
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color:  #282F36CC;
        
        label
        {
            font-size: 12px;
            color: rgba(40, 47, 54, 0.5);
        }
    }

    .footer__capture-link
    {
        margin:  0 0 24px 0 ;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $ocean-blue-color;
    }
}