.footer__wrapper
{
    width: 100%;
    background: $footer-top-background;
}

.footer__top{
    // display: flex;
    // flex: 0 1 auto;
	// justify-content: space-between;
	// align-items: center;
    // height: 90px;

    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    

    @include mq($tablet)
    {
        grid-template-columns: 1fr  150px;
        grid-gap: 200px;
    }

    .footer__top-left
    {
        // display: flex;
        // flex: 0 1 auto;
    	// justify-content: space-between;
    	// align-items: center;
        // height: 40px;

        // width: 790px;

        order: 3;

        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 80px;
        grid-gap: 37px;
        // justify-content: center;
        align-items: center;

        @include mq($tablet)
        {
            order: 1;
        }

        .footer__logo
        {
            margin: 0 0 0 10px;
            width: 60px;
            height: 40px;

            @include mq($tablet)
            {
                margin: 0;
            }
        }
        .footer__form
        {
            justify-self: end;

            display: flex;
        	margin:  0 10px 0 0;

            max-width: 443px;
            width: 100%;
        	height: 40px;
        	justify-content: space-between;

            @include mq($tablet) {margin: 0;}

            input
            {
                padding: 0 5px 0 15px;
        		// margin-left: 10px;
                // max-width: 393px;
        		width: 100%;
        		height:  40px;
        		border: 1px solid rgba(40, 47, 54, 0.15);
                border-radius: 5px 0 0 5px;

                &::placeholder
                {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(40, 47, 54, 0.5);
                }
            }

            button
            {
                display: flex;
                flex: 0 0 auto;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 40px;
                border: none;
                border-radius: 0 5px 5px 0;
                background: #FF5C00;
            }
        }

    }

    .footer__top-middle
    {
        order: 2;
        // padding: 0 -10px 0 -10px;
        width: calc(100% + 30px);
        height: 1px;
        transform: translateX(-20px);

        background-color: rgba(28, 41, 77, 0.15);

        @include mq($tablet)
        {
            display: none;
        }
    }
    // border-top: 1px solid rgba(28, 41, 77, 0.15);

    .footer__socials
    {
        order: 1;
        // display: flex;

        display: grid;
        grid-template-columns: repeat(3, 40px);
        grid-template-rows: 80px;
        grid-gap: 15px;
        justify-content: center;
        align-items: center;

        @include mq($tablet)
        {
            order: 3;
        }

        div
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 50%;

            @include mq($tablet)
            {
                border: 1px solid rgba(40, 47, 54, 0.15);
            }
        }

        .footer__facebook
        {
            background-color:  #3064CE;
            
            svg { fill: white; }

            @include mq($tablet)
            {
                background-color: inherit;
                svg
                { 
                    fill: #282F36;
                    fill-opacity: 0.3;
                }
            }
        }

        .vk 
        {
            display: block;

            @include mq($tablet)
            {
                display: none;
            }

            .footer__vk
            {
                background-color:  #4C75A3;

                svg
                {
                    width: 20px;
                    height: 20px;
                }

                @include mq($tablet)
                {
                    background-color: inherit;
                }
            }
        }
        
        .footer__instagram
        {
            background-color: #E4405F;
            // margin: 0 0 0 15px;

            svg { fill: white; }

            @include mq($tablet)
            {
                background-color: inherit;

                svg
                { 
                    fill: #282F36;
                    fill-opacity: 0.3;
                }
            }
        }

        .twitter 
        {
            display: none;

            @include mq($tablet)
            {
                display: block;
            }
        }
        
    }

}



.footer__middle
{
    // display: flex;
    // padding:  44px 0 45px 0;
    // height: 260px;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(4, 61px);
    align-items: center;
    margin: 0 0 0 10px;
    padding: 0;

    border-bottom: 1px solid rgba(40, 47, 54, 0.15);

    @include mq($tablet) 
    {
        grid-template-columns:  minmax(150px, 198px) minmax(130px, 194px)  minmax(130px, 195px)  minmax(180px, 195px) minmax(150px, 1fr) ;
        grid-template-rows: 260px;
        align-items: flex-start;
        margin: 0;
        padding: 47px 0 0 0;
    }

    ul 
    {
        // padding: 0 0 20px 0;
    }

    .footer__buyers
    { 
        border-bottom: 1px solid  rgba(42, 61, 72, 0.15);
        
        @include mq($tablet)
        {
            border-bottom: none;
        }
    }

    .footer__publishing
    { 
        border-bottom: 1px solid  rgba(42, 61, 72, 0.15);
        
        @include mq($tablet)
        {
            border-bottom: none;
        } 
    }

    .footer__books 
    { 
        border-bottom: 1px solid  rgba(42, 61, 72, 0.15);
        
        @include mq($tablet)
        {
            border-bottom: none;
        } 
    }

    .footer__price-list { }

    .footer__title
    { 
        margin: 0;

        @include mq($tablet)
        {
            margin: 0 0 19px 0;
        }
    }

    .footer__title-link
    {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $ocean-blue-color;

        @include mq($tablet)
        {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .footer__link
    {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color:  #282F36CC;
        
        label
        {
            font-size: 12px;
            color: rgba(40, 47, 54, 0.5);
        }
    }
    
    .footer__link--margin
    {
        display: none;
        margin: 0 0 11px 0;

        @include mq($tablet)
        {
            display: block;
        }
    }

    .footer__link--download
    {
        display: none;
        align-items: center;

        @include mq($tablet)
        {
            display: flex;
        }

        div
        {
            margin: 3px 0 0 5px;
        }
        
        span
        {
            display: block;
            color: #282F36CC;
        }

        
    }

    .footer__contacts
    {
        display: none;

        @include mq($tablet)
        {
            display: block;
        }
    }

    .footer__email
    {
        display: flex;
        // flex: 0 0 auto;
        margin: 0 0 0 2px;
        padding: 3px 0 0 0;
		align-items: center;
		font-weight: 400;
		font-size: 14px;	
		line-height: 16px;
		color: $ocean-blue-color-80;

		span 
		{
			padding: 0 0 0 5px;
		}
    }

    .footer__phone
    {
        display: flex;
        margin: 10px 0 0 2px;
        padding: 3px 0 0 0;
		align-items: center;
		font-weight: 400;
		font-size: 14px;	
		line-height: 16px;
		color: $ocean-blue-color-80;

		span 
		{
			padding: 0 0 0 6px;
		}
    }
}


.footer__bottom
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 45px 0;

    .footer__bottom-left
    {
        a
        {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $ocean-blue-color-50;
        }
        
    }

    .footer__bottom-right
    {
        display: flex;
        justify-content: space-between;
        width: 65%;

        .footer__adress { margin: 0 0 0 12px; }
        .footer__politics { margin: 0 0 0 40px; }
        a
        {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $ocean-blue-color-80; 
        }
    }
}