{# index.twig #}

{% block footer %}
	<footer>
		<div class="footer__wrapper">
			<div class="container">
				<div class="footer__top">
					<div class="footer__top-left">
						<div class="footer__logo">
							{% include 'assets/svg/logo.svg' %}
						</div>
						
					
						<form class="footer__form" action="#">
							<input class="footer__search" id="footerSearch" type="text" placeholder="Введите свой Email и получите скидку">
							<label for="footerSearch"></label>
							<button class="footer__search-btn">
								{% include 'assets/svg/airplane.svg' %}
							</button>
						</form>
						
					</div>
					
					<div class="footer__top-middle"></div>

					<div class="footer__socials">
						<a href="#">
							<div class="footer__facebook">
								{% include 'assets/svg/facebook.svg' %}
							</div>
						</a>
						<a class="vk" href="#">
							<div class="footer__vk">
								{% include 'assets/svg/vk.svg' %}
							</div>
						</a>
						<a href="#">
							<div class="footer__instagram">
								{% include 'assets/svg/instagram.svg' %}
							</div>
						</a>
						<a class="twitter" href="#">
							<div class="footer__twitter">
								{% include 'assets/svg/twitter.svg' %}
							</div>
						</a>
					</div>

					<div class="footer__top-middle footer__top-middle--order"></div>
					
				</div>
				
			</div>
		</div>
		
		<div class="container">
			<div class="footer__middle">

				<ul class="footer__buyers">
					<li class="footer__title"> <a class="footer__title-link" href="#">Покупателям</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Наша почта</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Оплата и доставка</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Вопросы и ответы</a> </li>
				</ul>

				<div class="footer__line"></div>

				<ul class="footer__publishing">
					<li class="footer__title"> <a class="footer__title-link" href="#">Издательство</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">О компании</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Авторам</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Вакансии</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Контакты</a> </li>
				</ul>

				<div class="footer__line"></div>

				<ul class="footer__books">
					<li class="footer__title"> <a class="footer__title-link" href="#">Книги</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Все категории</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Бестселлеры</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Новинки</a> </li>
					<li class="footer__link--margin"> <a class="footer__link" href="#">Скидки и акции</a> </li>
				</ul>

				<div class="footer__line"></div>

				<ul class="footer__price-list">
					<li class="footer__title"> <a class="footer__title-link" href="#">Прайс-лист</a> </li>
					<li> 
						<a class="footer__link footer__link--download"  href="#" download>
							{% include 'assets/svg/file.svg' %}
							<div>
								<span>Скачать прайс-лист</span>	
								<label>PDF, 12 Mb</label>
							</div>  
						</a> 
					</li>
				</ul>

				<ul class="footer__contacts">
					<li class="footer__title"> <a class="footer__title-link" href="#">Телефон и Email</a> </li>
					<li>
						<a class="footer__email" href="#">
							{% include 'assets/svg/email.svg' %}
							<span>market@estatut.ru</span>
						</a>
					</li>
					<li>
						<a class="footer__phone" href="tel:89686606550">
							{% include 'assets/svg/phone.svg' %}
							<span>8 (968) 660-65-50</span>
						</a>
					</li>
				</ul>

			</div>

			<div class="footer__bottom">
					<div class="footer__bottom-left">
						<div class="footer__bottom-line"></div>
						<a href="#">© 2020 Издательство «Статут»</a> 
					</div>

					<div class="footer__bottom-right">
						<div class="footer__bottom-line footer__bottom-line--order1"></div>
						<div class="footer__bottom-line footer__bottom-line--order4"></div>
						<div class="footer__bottom-line footer__bottom-line--order6"></div>
						<div class="footer__bottom-line footer__bottom-line--order8"></div>
						
						<a class="footer__adress" href="#">
							<div class="footer__adress-icon">
								{% include 'assets/svg/location.svg' %}
							</div>
							<span>ул. Лобачевского, 92, корп. 2 119454, г. Москва</span>
							
						</a>
					
						<a class="footer__bottom-phone" href="#">
							{% include 'assets/svg/phone.svg' %}
							<span>8 (968) 660-65-50</span>
							{% include 'assets/svg/i.svg' %}
						</a>

						<a class="footer__bottom-email" href="#">
							{% include 'assets/svg/email.svg' %}
							<span>market@estatut.ru</span>
						</a>
	
						<a class="footer__politics" href="#">Политика конфиденциальности</a>

						<a class="footer__offer" href="#">Договор оферты</a>

					</div>
			</div>
		</div>		
	</footer>
{% endblock %}

