<div class="services">

	<div class="services__item">
		<img class="services__image services__image--clock" src="/img/clock.png" alt="clock">

		<div class="services__main">
			<div class="services__theme">Быстрая доставка</div>
			<span class="services__text">Доставим бесплатно от 2000 ₽ по всей России</span>
		</div>
	</div>

	<div class="services__item">
		<img class="services__image services__image--creditCard" src="/img/creditCard.png" alt="credit card">

		<div class="services__main">
			<div class="services__theme">Безопасная оплата</div>
			<span class="services__text">Плати безопасно и легко онлайн на нашем сайте.</span>
		</div>
	</div>

	<div class="services__item">
		<img class="services__image services__image--star" src="/img/star.png" alt="star">

		<div class="services__main">
			<div class="services__theme">Бонусная программа</div>
			<span class="services__text">Дополнительная скидка 15% при регистрации</span>
		</div>
	</div>

	<div class="services__item">
		<img class="services__image  services__image--bag" src="/img/bag.png" alt="bag">

		<div class="services__main">
			<div class="services__theme">Большой выбор</div>
			<span class="services__text">Ежегодно выходит в свет более 100 книг</span>
		</div>
	</div>
</div>