<div class="services">

	<div class="services__item">
		<picture>
			<source srcset="./img/clock.webp" type="image/webp">
			<img class="services__image services__image--clock" src="./img/clock.png" alt="clock">
		</picture>

		<div class="services__main">
			<div class="services__theme">Быстрая доставка</div>
			<span class="services__text">Доставим бесплатно от 2000 ₽ по всей России</span>
		</div>
	</div>

	<div class="services__item">
		<picture>
			<source srcset="./img/creditCard.webp" type="image/webp">
			<img class="services__image services__image--creditCard" src="./img/creditCard.png" alt="clock">
		</picture>

		<div class="services__main">
			<div class="services__theme">Безопасная оплата</div>
			<span class="services__text">Плати безопасно и легко онлайн на нашем сайте.</span>
		</div>
	</div>

	<div class="services__item">
		<picture>
			<source srcset="./img/star.webp" type="image/webp">
			<img class="services__image services__image--star" src="./img/star.png" alt="clock">
		</picture>

		<div class="services__main">
			<div class="services__theme">Бонусная программа</div>
			<span class="services__text">Дополнительная скидка 15% при регистрации</span>
		</div>
	</div>

	<div class="services__item">
		<picture>
			<source srcset="./img/bag.webp" type="image/webp">
			<img class="services__image services__image--bag" src="./img/bag.png" alt="clock">
		</picture>

		<div class="services__main">
			<div class="services__theme">Большой выбор</div>
			<span class="services__text">Ежегодно выходит в свет более 100 книг</span>
		</div>
	</div>
</div>