.services
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	margin: 10px 0 0 0;

	@media (max-width: 1160px) {
		flex-wrap: wrap;
		gap: 10px;
	}

	@include mq($tablet)
	{
		flex-wrap: nowrap;
		gap: 30px;
		margin: 30px 0 0 0;
	}

	.services__item
	{
		position: relative;
		z-index: 90;

		display: flex;

		width: 100%;
		// max-width: 355px;
		padding: 52px 20px 50px 125px;

		background: $white-color;
		border-radius: 5px;


		@include mq($tablet)
		{
			padding: 40px 18px 40px 88px;
			// max-width: 263px;
		}

		.services__image
		{
			position: absolute;
			z-index: -1;

			width: 100%;
			height: auto;

			&--clock
			{
				top: 41px;
				left: -9px;

				max-width: 150px;

				@include mq($tablet)
				{
					top: 36px;
					left: -14px;
					max-width: 120px;
				}
			}

			&--creditCard
			{
				top: 40px;
				left: 0px;
				max-width: 140px;

				@include mq($tablet)
				{
					top: 40px;
					left: -3px;
					max-width: 100px;
				}
			}

			&--star
			{
				top: 40px;
				left: 0px;
				max-width: 135px;

				@include mq($tablet)
				{
					top: 40px;
					left: -1px;
					max-width: 100px;
				}
			}

			&--bag
			{
				top: 37px;
				left: -3px;
				max-width: 150px;

				@include mq($tablet)
				{
					top: 28px;
					left: -17px;
					max-width: 135px;
				}
			}
		}

		.services__main
		{
			display: flex;
			flex-direction: column;
			gap: 5px;

			.services__theme
			{
				white-space: nowrap;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 25px;
				color: $ocean-blue-color;
			}

			.services__text
			{
				display: block;

				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 19px;
				color: #727272;
			}
		}
	}
}