.card
{
    position: relative;

    display: flex;
    padding: 34px 136px 31px 20px;
    height: 100%;
    border-radius: 5px;
    
    @include mq ($tablet)
    {
        & 
        {
            padding: 34px 136px 31px 25px;
        }

        .card__picture
        {
            top: 19px;
            right: 25px;
        }
    }
    
    .card__text
    {
        position: relative;
        z-index: 99;

        font-family: "Gosha Sans", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }

    .card__picture
    {
        position: absolute;
        top: 19px;
        right: 22px;
    }

    &--delivery
    {
        background:  #6D378F;

        .card__vector
        {
            position: absolute;
            top: -1px;
            left: -12px;
            z-index: -1;
        }

        .card__text { color: $white-color; }
    }

    &--customer
    {
        background: #FFD8EF;
        
        .card__vector
        {
            position: absolute;
            top: 50px;
            left: 20px;
            z-index: -1;
        }

        .card__text
        {
            color: $ocean-blue-color-80; 
        }
    }

}