<div class="card {{cardClassModificator}}">
    
    <span class="card__text">
        <div class="card__vector">
        {% include '/assets/svg/' ~ cardVectorName ~ '.svg' %}
        </div>
        {{cardText}}
    </span>

    <div class="card__picture">
        {% include "/assets/svg/" ~ cardPictureName ~ ".svg" %}
    </div>
    
</div>

{# {% include '/assets/svg/vector-orange.svg' %}

{% include '/assets/svg/deliveryman.svg' %} #}