<div class="card">
    <p class="card__text">
        <div class="card__vector-orange">
            {% include '/assets/svg/vector-orange.svg' %}
        </div>
        Бесплатно доставим ваш заказ при покупке от 2000 ₽
    </p>
    {% include '/assets/svg/deliveryman.svg' %}
</div>
