.books 
{
    position: relative;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px 10px 20px 10px;
    height: 100%;
    
    background: $white-color;
    
    @include mq($tablet) 
    { 
        padding: 25px 35px 20px;
    }
    
    .books__link-new
    {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 5px 10px;
        height: 25px;
        width: 70px;
        border-radius: 5px;
        background: #E2F6EC;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3DC47E;
    }

    .books__link-hit
    {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 5px 10px;
        height: 25px;
        width: 86px;
        border-radius: 5px;
        background: #EEE9F7;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #AC8EE3;
    }

    .books__link-promotion
    {
        position: absolute;
        top: 55px;
        left: 20px;
        padding: 5px 10px;
        height: 25px;
        width: 54px;
        background: #FFEEEE;
        border-radius: 5px;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FF4F52;
    }

    .books__image
    {
        display: flex;
        margin: 0 auto;
        max-width: 126px;

        @include mq($tablet) { max-width: 167px; }

        // .books__img
        // {
        //     display: flex;
        //     margin: 0 auto;
        //     width: 100%;
        //     max-width: 126px;
        //     height: auto;
            
        //     // @include mq($tablet) { max-width: 147px; }
        // }
    }

    .books__img
        {
            display: flex;
            margin: 0 auto;
            width: 100%;
            max-width: 124px;
            height: auto;
            
            @include mq($tablet) { max-width: 140px; }
        }
    
    .books__link-theme
    {
        display: block;
        margin: 15px 0 7px 0;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: $ocean-blue-color-50;
    }

    .books_link-name
    {
        display: inline-block;
        margin: 7px 0 10px 0;
        height: 57px;
        width: 100%;
        @include mq($tablet) 
        { 
            height: 38px; 
        }
    }

    .books__p-name
    {
        // display: block;
        // display: inline-block;
        margin: 0 0 9px 0;
        width: 100%;
        max-width: 223px;
        // height: 38px;

        -webkit-line-clamp: 2; /* количество строк */
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
        // word-wrap: wrap;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $ocean-blue-color;
    }

    .books__link-author
    {
        display: block;
        margin: 0 0 8px 0;
        // margin: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: $ocean-blue-color-80;
    }

    .books__prise-section
    {
        margin: 0 0 5px 0;
        
        .books__link-price
        {
            margin: 8px 0 0 0;

            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            color: $ocean-blue-color;

            &--red
            {
                color: #FD3A3A;
            }

            &--old
            {
                position: relative;

                margin: 0 0 0 5px;

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: $ocean-blue-color-50;

                &::before
                {
                    content: '';

                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid #FF0000;
                    transform: rotate(-4deg);

                    pointer-events: none;
                }
            }

            &--profit
            {
                margin: 0 0 0 3px;

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #0DB98C;
            }
        }

    }
    
    
    .books__rating
    {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
        // margin: 5px 0 0 0;
        max-width: 206px;
        width: 100%;

        @include mq($tablet) { flex-wrap: nowrap; }

        .books__link-rating
        {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            // padding: 5px 8px 5px 9px;
            height: 25px;
            width: 52px;
            border-radius: 5px;
            background: rgba(255, 163, 77, 0.15);

            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: rgb(255, 163, 77);

            span { margin: 2px 0 0 4px;}
        }

        .books__link-rec
        {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: 0 0 0 10px;
            // padding: 7px 10px 6px 11px;
            width: 100%;
            max-width: 144px;
            height: 25px;
            border-radius: 5px;
            background: rgba(121, 134, 203, 0.15);

            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: rgb(121, 134, 203);

            // margin: 8px 0 0 0; 

            @include mq($tablet) { margin: 0; }

            span { margin:  2px 0 0 4px; }
        }
    }
    
    .books__form
    {
        display: flex;
        margin: 13px 0 0 0;
        // justify-self: end;
        // align-self: center;
        

        .books__busket-btn
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 146px;
            height: 40px;
            border: 1px solid #EEEEEE;
            border-radius: 5px;

            span
            {
                padding: 0 0 0 11px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 15px;
                color: $ocean-blue-color;
            }
        }

        .books__posponed-btn
        {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 10px;
            width: 40px;
            height: 40px;
            border: 1px solid #EEEEEE;
            border-radius: 5px;
        }
    }
}

