.contentTop
{
    display: grid;
    margin: 10px 0 0 0;
    grid-template-rows: 1fr 464px 140px 140px;
    grid-template-areas: "slider"
                         "book"
                         "card1" 
                         "card2";
    grid-gap: 9px;

    @include mq($tablet)
    {
        margin: 50px 0 0 0;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 350px 1fr;
        grid-template-areas: "slider slider book"
                             "card1  card1  book" ;
        grid-gap: 30px;
    }

    .contentTop__slider
    {
        grid-area: slider;

        width: 100%;
        height: 100%;
        aspect-ratio: 1/0.5;

        background: #CCFF90;
    }

    .contentTop__book { grid-area: book; }

    .contentTop__card1 
    { 
        grid-area: card1; 

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 9px;

        @media (max-width: 1044px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 9px;
        }

        @include mq($tablet)
        {
            grid-gap: 30px;
        }

    }
}
