.contentTop
{
    display: grid;
    margin: 50px 0 0 0;
    grid-template-columns: repeat(3, 360px) ;
    grid-template-rows: 350px 140px;
    grid-template-areas: "slider slider book"
                         "card1  card2  book" ;
    grid-gap: 30px;
    .contentTop__slider
    {
        grid-area: slider;
        background: #CCFF90;
    }

    .contentTop__book { grid-area: book; }

    .contentTop__card1 { grid-area: card1; }

    .contentTop__card2 { grid-area: card2; }
}