{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container">

		{% include 'blocks/contentTop/contentTop.twig' %}

		{% include 'blocks/everybody/everybody.twig' %}

		{% include 'blocks/books/books.twig' with {
			'booksClassHit': 'books__link-hit', 'booksTextHit': 'Бестселлер',
			'booksClassPromotion': 'books__link-promotion', 'booksTextPromotion': '1+1=3',
			'booksImgPath': '/img/books1.jpg',
			'booksTextTheme': 'Корпоративное право',
			'booksTextName': 'Инвестирование: способы, риски, субъекты : монография',
			'booksTextAuthor': 'Майфат А.В.',
			'booksTextPrice': '4 450 ₽ ',
		}%}

		
		{% include 'blocks/books/books.twig' with {
			'booksClassNew': 'books__link-new', 'booksTextNew': 'Новинка',
			'booksImgPath': '/img/books2.jpg' ,
			'booksTextTheme': 'Договорное право',
			'booksTextName': 'Договор коммерческой концессии (франчайзинг). Граж...',
			'booksTextAuthor': 'Багдасарян А.Ф.',
			'booksTextPrice': '372 ₽ ',
		}%}
		

		{% include 'blocks/books/books.twig' with {
			'booksImgPath': '/img/books3.jpg',
			'booksTextTheme': 'Конкурентное право',
			'booksTextName': 'Договор коммерческой концессии (франчайзинг). Граж...',
			'booksTextAuthor': 'Башлаков-Николаев И.В.',
			'booksClassPriceRed': 'books__link-price--red',
			'booksTextPrice': '984 ₽',
			'booksTextPriceOld': '1 284 ₽',
			'booksTextPriceProfit': 'Выгода 300 ₽'
		}%}

		{% include 'blocks/books/books.twig' with {
			'booksClassHit': 'books__link-hit', 'booksTextHit': 'Бестселлер',
			'booksClassPromotion': 'books__link-promotion', 'booksTextPromotion': '1+1=3',
			'booksImgPath': '/img/books1.jpg',
			'booksTextTheme': 'Корпоративное право',
			'booksTextName': 'Инвестирование: способы, риски, субъекты : монография',
			'booksTextAuthor': 'Майфат А.В.',
			'booksTextPrice': '4 450 ₽ ',
		}%}

		{# {% include 'blocks/books/books.twig' with {
			'booksClassNew': 'books__link-new', 'booksTextNew': 'Новинка',
			'booksClassHit': 'books__link-hit', 'booksTextHit': 'Бестселлер',
			'booksClassPromotion': 'books__link-promotion', 'booksTextPromotion': '1+1=3',
			'booksImgPath': '/img/books1.jpg',
			'booksTextTheme': 'Конкурентное право',
			'booksTextName': 'Договор коммерческой концессии (франчайзинг). Граж...',
			'booksTextAuthor': 'Башлаков-Николаев И.В.',
			'booksClassPriceRed': 'books__link-price--red',
			'booksTextPrice': '984 ₽',
			'booksTextPriceOld': '1 284 ₽',
			'booksTextPriceProfit': 'Выгода 300 ₽'
		}%} #}



		{# {% include 'blocks/card/card.twig' with { 
							'cardClassModificator': 'card--delivery',
							'cardVectorName': 'vector-orange',
							'cardText': 'Бесплатно доставим ваш заказ при покупке от 2000 ₽',
							'cardPictureName': 'deliveryman' 
							} %} #}

		{# {% include 'blocks/card/card.twig' with { 
							'cardClassModificator': 'card--customer',
							'cardVectorName': 'vector-blue',
							'cardText': 'Скидка<br>
										 при регистрации<br>
										 до 15%',
							'cardPictureName': 'customer' 
							} %} #}

		{# {% include 'blocks/book/book.twig' with {
			'bookTitle': 'Книга дня', 
			'bookTime': '08:56:31',
			'bookPicture': '/img/OlegRoy.jpg',
			'bookChapter': 'Корпоративное право',
			'bookName': 'Инвестирование: способы, риски, субъекты : монография',
			'bookAuthor': 'Майфат А.В.',
			'bookPrice': '4 450 ₽'
		} %} #}
	</div>
	

	
	{#
		Пример подключения файла
		{% include '/blocks/component/component.twig' %}
		Пример подключения svg
		{% include '/assets/component/component.svg' %}
	#}
{% endblock %}
