.header__wrapper
{
	// position: relative;
	width: 100%;
	background-color: white;
	padding: 0;

	@include mq($tablet) { padding: 0 0 20px 0; }

	&:before
	{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: calc(100% + 40px);
		transform: translateX(-40px);
		border-bottom: 1px solid $platinum-color;
		pointer-events: none;

		@include mq($tablet)
		{
			top: 50px;
		}
	}
}

.header__top
{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 51px;

	@include mq($tablet) { display: flex; }
}

.header__information
{
	position: relative;
	display: flex;
	flex: 0 0 auto;

	.header__information-link
	{
		display: flex;
		align-items: center;

		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: $ocean-blue-color-80;

		&:nth-child(1)  span
		{
			padding-left: 5px;
		}

		&:nth-child(2)
		{
			margin: 0 0 0 32px;
		}

		&:nth-child(2) span
		{
			padding: 0 0 0 5px;
		}

		&:nth-child(3)
		{
			margin: 0 0 0 30px;
		}

		&:nth-child(3) span
		{
			padding: 0 0 0 6px;
		}

		svg
		{
			fill: #1C294D;
			fill-opacity: 0.5;
		}
	}
}

.header__contacts
{
	display: none;
	flex: 0 0 auto;
	margin: 10px 0 0 0;

	@include mq(878)
	{
		display: flex;
	}
	@include mq($tablet)
	{
		margin: 0;
	}

	.header__email
	{
		display: flex;
		align-items: center;

		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: $ocean-blue-color-80;

		span
		{
			padding: 0 0 0 5px;
		}
	}

	.header__phone
	{
		display: flex;
		align-items: center;
		margin: 0 0 0 32px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: $ocean-blue-color-80;

		span
		{
			padding: 0 5px 0 5px;
		}
	}
}

.header__middle
{
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	margin: 0;
	padding: 15px 0 14px 0;

	@include mq($tablet)
	{
		margin: 20px 0 0 0 ;
		padding: 0;
	}
}

.header__middle-left
{
	display: flex;
	flex: 1 1 auto;

	@include mq($tablet)
	{
		opacity: 1;
	}

	.header__burger-btn
	{
		position: absolute;
		top: 25px;
		left: 20px;
		display: block;

		border: none;

		@include mq($tablet)
		{
			display: none;
		}
	}

	.logo
	{

		margin: 0 0 0 45px;

		@include mq($tablet)
		{
			margin: 0;
		}

		svg
		{
			width: 44px;
			height: 35px;

			@include mq($tablet)
			{
				width: 50px;
				height: 40px;
			}
		}
	}
}

.header__form
{
	display: flex;
	margin: 0 18px 0 20px;
	width: 100%;
	max-width: 573px;
	justify-content: start;

	@include mq($tablet) { margin: 0 0 0 30px; }

	.header__label
	{
		width: 100%;
		max-width: 450px;
	}
	.header__search
	{
		position: relative;
		padding: 0 15px;
		height: 40px;
		width: 100%;
		max-width: 450px;
		border: none;
		border-radius: 5px;
		background-image: url(../../assets/svg/search2.svg);
		background-repeat: no-repeat;
		background-position: 93% 50%;

		@include mq($tablet)
		{
			border: 1px solid #DFE0E1;
			border-right: none;
			border-radius: 5px 0 0 5px;

			background: none;

			background-color: inherit;
		}

		&::placeholder
		{
			border: none;

			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: $ocean-blue-color-50;

			@include mq($tablet)
			{
				line-height: 20px;
			}
		}

	}

	.header__search-btn
	{
		position: relative;
		display: none;
		align-items: center;
		justify-content: center;
		height: 40px;
		max-width: 123px;
		width: 100%;
		border: none;
		border-radius: 0 5px 5px 0;

		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $white-color;
		background: inherit;

		.svg__search
		{
			fill: #1C294D;
			fill-opacity: 0.5;
		}

		@include mq($tablet)
		{
			display: flex;
			background: $dark-amber-color;

			.svg__search
			{
				fill: #FFFFFF;
				fill-opacity: 1;
			}
		}

		span
		{
			display: none;
			padding: 0 0 0 6px ;

			@include mq($tablet)
			{
				display: inline;
			}
		}
	}
}

.header__middle-right
{
	display: flex;
	flex: 0 0 auto;
	margin: 10px 0 0 0;

	a
	{
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $ocean-blue-color;
	}

	.header__postponed
	{
		display: none;
		margin: 0 0 0 10px;
		span
		{
			padding:  0 0 0 5px;
		}

		@include mq($tablet)
		{
			display: flex;
		}
	}

	.header__login
	{
		display: none;
		margin: 0 0 0 30px;

		span
		{
			padding:  0 0 0 5px;
		}

		@include mq($tablet)
		{
			display: flex;
		}
	}

	.header__basket
	{
		position: relative;
		display: flex;
		margin: 0 9px 0 0;

		@include mq($tablet)
		{
			margin: 0 0 0 29px;
		}

		svg
		{
			width: 25px;
			height: 25px;

			@include mq($tablet)
			{
				width: 20px;
				height: 20px;
			}
		}

		.header__numbers-of-items
		{
			position: absolute;
			top: -12px;
			right: -10px;

			padding: 3px;
			border-radius: 50%;

			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: $white-color;

			background: $dark-amber-color;

			@include mq($tablet)
			{
				top: -7px;
				right: 54px;
				height: 15px;
				padding: 2px;

				font-size: 9px;
				line-height: 11px;
			}
		}

		span
		{
			display: none;
			padding:  0 0 0 6px;

			@include mq($tablet)
			{
				display: inline;
			}
		}
	}

}

.header__bottom
{
	display: none;
	margin: 14px 0 0 0;

	@include mq ($tablet)
	{
		display: flex;
	}

	.header__bottom-link
	{
		display: flex;
		justify-content: center;
		align-items: center;

		margin: 0 25px 0 0;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $ocean-blue-color;


		&:nth-child(1) span
		{
			margin: 0 0 0 7px;
		}

		&:nth-child(3)
		{
			margin: 0 17px 0 0;
		}

		&:nth-child(4)
		{
			margin: 0 23px 0 8px;
		}

		&:nth-child(4) span
		{
			margin: 0 0 0 6px;
		}

		&--red
		{
			color: #FF283D;
		}
	}
}